@charset "UTF-8";

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: #4B49AC;
    color: white;
    /* position: absolute; */
/*     bottom: 0; */
    width: 100%;
    
}
